body { 
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.page-background-color {
    background-color: #141414;
}

h1 {
    color: whitesmoke;
}
h2 {
    color: rgb(218, 212, 212);
}

a {
    color: rgb(234, 178, 239)
}

.card1Container {
    height: 384px;
    width: 320px;
    

    border-radius: 10px;
    background-color: rgb(57, 85, 241);
}

.card1Image {
    height: 154px;
}

.card1Image img {
    border-radius: 10px 10px 0px 0px;
}

.card1Body {
    height: 230px;
    overflow: auto;
    
    border-radius: 0px 0px 10px 10px;
    background-color: #1f242d;
    color: azure;
}

.subheadings {
    
}