body { 
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    
}


.page-background-color {
    background-color: #141414;
}

h1 {
    color: whitesmoke;
}
h2 {
    color: rgb(218, 212, 212);
}

a {
    color: rgb(234, 178, 239)
}

.card1Container {
    height: 384px;
    width: 320px;
    margin: auto;

    border-radius: 10px;
    background-color: rgb(57, 85, 241);
}

.card1Image {
    height: 154px;
}

.card1Image img {
    border-radius: 10px 10px 0px 0px;
}

.card1Body {
    height: 230px;
    overflow: auto;
    padding: 24px;
    
    border-radius: 0px 0px 10px 10px;
    background-color: #1f242d;
    
}

.title {
    color: #ffffff;
    font-size: 22px;
    height: 33px;
    margin: 0px;
}

.subheadings {
    display:inline-flex;
}

.date {
    color: #9C9C9C;
    font-size: 14px;
    letter-spacing: 2.5;
    font-weight: 500;
    margin: 0px;
}

.bullet {
    margin: 0px;
    color: #ffffff;
}

.gameTitle {
    color: #42C9BF;
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
}

.description {
    line-height: 24px;
    color: #ffffff;
    font-size: 16px;
}

.new {
    text-transform: uppercase;
    font-weight: 600;
    color: #D926A9;
}